
@tailwind base;
@tailwind components;
@tailwind utilities;



h3,
h4 {
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  font-size: 0.9rem;
  font-weight: 400;
}

h5 {
  font-size: 0.9rem;
  font-weight: 400;
}

.logo-container > img {
  width: 120px;
}

.nav-items > ul {
  display: flex;
  gap: 3.3rem;
  padding: 0px 12px;
}

.nav-items > ul > li {
  list-style-type: none;
  font-size: 1.3rem;
  cursor: pointer;
}


.restaurant-image > img {
  width: 100%;
  height: 100% !important;
  border-radius: 16px;
  object-fit: cover;
}

.restaurant-image {
  height: 200px;
  width: 300px;
}

.restaurant-card-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 20px;
  width: 300px;
}
.restaurant-card-container:hover {
  cursor: pointer;
  scale: 0.9;
  transition: all 500ms ease-out;
}

.restaurant-detail {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.time-rating-wrapper {
  display: flex;
  justify-content: space-between;
}
